li {
    width: 33.3%;
}

.putTop {
    vertical-align: top;
}

#loggedIn > #link {
    width: 50%;
}

#locationForm {
    border: 5px solid var(--lightblue);
    color: var(--lightblue);
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    padding: .5em;
  }
  
  #locationForm > h3 {
    text-align: center;
  }
 
  #locationForm > div {
    margin: 1em;
  }
  
  #locationForm > div > label {
    text-align: left;
    display: block;
  }

  #locationForm > div > label > input[type=checkbox] {
    margin-left: 20px;
  }
  #locationForm > div > input {
    width: 99.5%;
  }
  
  #locationForm > div > button {
    width: 49.5%;
    margin-bottom: 0;
  }
  
  #locationForm > #buttons > #submit {
    background-color: var(--lightblue);
  }
  
  #locationForm > #buttons > #reset {
    background-color: var(--pink);
  }

  