:root {
  --pink: #ffd1dc;
  --peach: #f9ddd2;
  --orange: #e2725a;
  --blue: #4a6274;
  --lightblue: #94acbf;
  --mint: #79aeb2;
  --orange: #E2725A;
}

.topnav {
  height: 45px;
  margin: 0px;
  border: 0px;
  width: 100%;
  background-color: rgb(26, 95, 95);
}

#map {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.topnav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.topnav ul li {
  float: none;
  padding: 0px;
  width: 150px;
  display: inline-block;
}

.topnav ul li a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topnav a:link {
  color: black;
}

#topnav a:hover {
  background-color: cadetblue;
}

.h1 {
  text-transform: capitalize;
}

form {
  width: 400px;
}

body {
  background-color: var(--blue);
}

h1 {
  text-transform: capitalize;
  text-align: center;
  color: var(--mint);
  border: 5px solid var(--lightblue);
  background-color: whitesmoke;
}

nav {
  font-size: 0;
}

nav a {
  font-size: 32px;
  color: var(--mint);
}

nav a:visited {
  color: var(--pink);
}

nav a:hover {
  color: var(--pink);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  border: 5px solid var(--lightblue);
  text-align: center;
  background-color: whitesmoke;
}

#map {
  height: 75vh;
  width: 100%;
}

.header {
  background-color: var(--lightblue);
}
